@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3D */

:root {
    --threeD-btn-background-color: #2f2f2f;
    ---main-color: var(--threeD-btn-background-color);
    --threeD-btn-box-shadow: #020202;
    --background: "white";
}

html {
    scroll-behavior: smooth;
}

/* button */
.threeD-btn {
    color: white;
    background-color: var(--threeD-btn-background-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    transition: all 0.07s ease-in-out;
    box-shadow: 0 0.4rem var(--threeD-btn-box-shadow);
    cursor: pointer;
}
.threeD-btn:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.2rem var(--threeD-btn-box-shadow);
}

/* input */
.threeD-input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

/* checkbox */
.threeD-checkbox {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px red;
    border-radius: 5px;
    box-shadow: 0 0.4rem #dfd9d9;
    background-color: #eee;
    transition: all 0.3s;
}

.animate-blink {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
